@import '../../../scss/abstracts/abstracts';

:host section {
  position: relative;
  margin-top: $searchMargin;

}


.collapsa {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  height: 3rem;
  top: 0.5rem;
  right: 0.7rem;

  &>* {
    cursor: pointer;
  }
}


.collapsaBox {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  p {
    min-width: 9rem;
  }
}


.collapsaBoxIcon {
  svg {
    width: 2.5rem;
    height: 2.5rem;
    transform: translate(0.7rem, 0.2rem) rotate(-180deg) scale(.95);
  }
}

.collapsaBoxIcon.collapsed {
  svg {
    transform: translate(0.7rem, 0.2rem) rotate(-90deg) scale(.95);

    path {
      stroke: #007c25;
      stroke-width: 1.15;
    }
  }
}

.clean_Filt {
  cursor: pointer;
  margin-right: 2rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  svg {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;

    path {
      stroke: #006797;
      stroke-width: 1.3;

    }
  }
}

.minimal-layout {
display:flex;
flex-flow:row nowrap;
// margin-right:2rem;
.minimalCircle {
  width: 1.1rem;
  background: #ffffff;
  height: 1.1rem;
  margin-left: 2rem;
  border-radius: 50%;
  padding: 0rem;
  box-shadow: 0px 0px 0px 4.5px white,
   0px 0px 0px 6px rgba(202, 202, 202, 1);
  
}
}

.minimal-layoutToggled {
  // margin-right: 0rem;
  .minimalCircle {
  background: #006797;
  box-shadow: 0px 0px 0px 4.5px white,
  0px 0px 0px 6px green;

  }
}


.moveLeft {
  transform:translateX(-115%)
}


