<!-- <p>carousel works!</p> -->
<owl-carousel-o [options]="customOptions" (dragging)="nowDragging($event.dragging)">
  <!-- <ng-template carouselSlide>Slide 1</ng-template>
    <ng-template carouselSlide>Slide 2</ng-template>
    <ng-template carouselSlide>Slide 3</ng-template>
    <ng-template carouselSlide>Slide 4</ng-template>
    <ng-template carouselSlide>Slide 5</ng-template>
    <ng-template carouselSlide>Slide 6</ng-template>
    <ng-template carouselSlide>Slide 7</ng-template>
    <ng-template carouselSlide>Slide 8</ng-template>
    <ng-template carouselSlide>Slide 9</ng-template>
    <ng-template carouselSlide>Slide 10</ng-template>
    <ng-template carouselSlide>Slide 11</ng-template>
    <ng-template carouselSlide>Slide 12</ng-template> -->
  <ng-template carouselSlide *ngFor="let item of itemsArray;index as i">
    <div class="snippetItem" (click)="clickSnippet(item)" [title]="item">{{item}}</div>
  </ng-template>
</owl-carousel-o>
