:host {
    margin-left:auto;
    display:flex;
    align-items:center;
    // background:white;
    // color:gainsboro;
    // padding:1rem;
    min-width:35rem;
    // color:rgb(255, 255, 255);
    border-radius:.5rem;
    // position: absolute;
    position: relative;
    top: 0.8rem;
    // top: 21.9rem;
    // background: rgba(241, 241, 241, 1);
    // background: rgba(0, 103, 151, 1);
    // transform: translate(-50%, -4rem);
    // left: 50%;
}

.fijo :host {
    // top: -0.4rem;
}

p {
    font-weight:500;
    font-size:1rem;
    letter-spacing:.1rem;
    // min-height:40px;
}