

$font-main: 'Montserrat', sans-serif;
$searchMargin: 8.4rem;
$userInputTop: 64px;
$userInputPaddingBottom: 10px;
$filterMenuCollapsibleComponentTop: 189px;
$filtrosSectionTop: 228.3px;


$scaleAsideDetailIcon:20px;
$positionAsideDetailIcon_1: calc(100% - 11.1px);
$positionAsideDetailIcon_2: calc(100% - 32.3px);
// $positionAsideDetailTop: 10px;
$AsideTop:-19px;
$AsideLeft:-12.9px;