// :host {
//     background:gainsboro;
// }

// :host(body) {
//     overflow:hidden;
// }

.infoHeader {
    // display: flex;
    // flex-flow: row wrap;
    // // padding: 0.2rem;
    // padding: 0.4rem 0.2rem 0.4rem calc(90% - 3rem);
    // align-items: baseline;
    // margin: 0.5rem 0 0.8rem;
    // background: white;
    // border-radius: 0.5rem;
    position: absolute;
    top: 2.4rem;
    left: 50%;
    transform: translateX(-50%);

    & > *:not(:first-child) {
        margin-left:3rem;
    }
}

h1,h2 {
    // margin: 1rem 0;
}

.gains {
    background: rgba(220, 220, 220, .4);
    min-height:calc(100vh - 9rem);
    padding: 0.7rem 3rem 0.1rem 4rem;
}

.flexBoxAside {
    position:absolute;
    display:flex;
    flex-flow:row wrap;
    // width: 34rem;
    width: 33rem;
    z-index: 10;
    // top: 11.45rem;
    transition: width .4s ease-in-out;
    max-height:20rem;
    // padding: 0.5rem 0 0;
    // background:red;
    // margin-bottom:2rem;
}
.isNotShowSideBar {
    width: 1rem;
    // display:none;

}








    input[type="checkbox"] {
        opacity:0;
        width:0;
        height:0;
        display:none;
    }
    label {
        position: relative;
        display: block;
        z-index: 11;
        top: 0rem;
        width: 2.5rem;
        height: 2.5rem;
        left: 31rem;
        // margin-top: -4.5rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;


       svg {
        width: 2.5rem;
        height: 2.5rem;
        // position:relative;
        // left:15rem;
       }
    path {
        fill:#006797;
    }
    }

    .flexBoxAside aside {   
        // padding-top:3.5rem;
        top:0;
        opacity:1;
        min-height:17.6rem;
        flex: 1 1 14rem;
        backface-visibility: hidden;
        transition: 
        flex .3s ease-in-out, 
        height .3s .1s ease-in-out, 
        width .1s ease-in-out, 
        transform .3s ease-in-out, 
        opacity .001s ease-in-out, 
        // min-height .5s ease-in-out;
    }

// svg {
//     transition: transform .3s ease-in-out;
// }
    
    input[type="checkbox"]:checked ~ label  {
        // left:1.2rem;

       transform: rotate(180deg);
       left:-3.2rem;


    }

    input[type="checkbox"] ~ aside  {
        flex: 1 1 auto;
        position: relative;
        left: -2.5rem;
        height: 84.7vh;
        background: white;
        outline: 1.5px solid gainsboro;
        outline-offset: -5.9px;
        /* padding: .5rem; */
        overflow: hidden;
        overflow-y: auto;
        padding: 2rem;
        
    }
    input[type="checkbox"]:checked ~ aside {
        
        position:relative;
        flex: 0 0 auto;
        // height:81.7vh;

        // top:1rem;
        // width:0;
        transform: translateX(-145%);
        // opacity:0;
        // min-height:0rem;
        // overflow:hidden;
        // display:none;

   


    }






main {

    flex: 5 1 10rem;
    padding: 1rem;
    min-height:35rem;
    background: white;
    margin: 0rem 0rem 1rem 0rem;
    border-radius: 0.4rem;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 30%);
    border: 1px solid rgba(138, 138, 138, .3);
    transition: flex 1s 1.5s ease-in-out, 
    margin-left .3s ease-in-out
    // transform .3s ease-in-out, 
    // opacity .1s ease-in-out, 
    // min-height .5s ease-in-out;
}

main.m-l30 {

    margin-left:34rem;
}

input[type="checkbox"]:checked ~ .flexBoxAside main {
    margin: 3.5rem 0rem 1rem 0rem;
    
}

.iconBackBox {
    display: inline-flex;
    align-items:center;
    // margin-top:.5rem;
    cursor:pointer;
}

.iconBack {
    margin: 0.35rem 0.5rem 0 0.5rem;
    // transform: translateY(.2rem); 
    svg {
        width:1.5rem;
        height:1.5rem;
    }
}


