
.percentage {
    position: relative;
    left: -30px;
    display: block;
    height: 1rem;
    background: rgba(209, 0, 2, 1);
    /* margin-top: 1.35rem; */
    margin: 0.9rem 3rem 1.7rem;
    transition: width 0.25s ease-in-out;
    max-width: 100%;
    top: -.1rem;
}

.infoDocumentos {
    font-weight:600;
    color: rgba(0, 75, 110, 1);
    span {
        font-weight: inherit;
        line-height:1;
        &.number {
            font-size:1.2em;
        }
    }
    
}


