<div *ngIf="(path$|async)==='documentos'">
  <p class="percentage"
    [style.width.%]="((documentosLength$ | async) / (documentosTotalQueryLength$ | async) * 100)?(documentosLength$ | async) / (documentosTotalQueryLength$ | async) * 100:0">
  </p>
  <p class="infoDocumentos">
    <span>{{path$|async|titlecase}}: </span>
    <span *ngIf="(documentosLength$|async)"> mostrando <span class="number">{{documentosLength$|async}}</span> {{path$|async}} de
    <span class="number">{{documentosTotalQueryLength$|async}}</span></span>
  </p>
</div>
<div *ngIf="(path$|async)==='resoluciones'">
  <p class="percentage"
    [style.width.%]="((resolucionesLength$ | async) / (resolucionesTotalQueryLength$ | async) * 100)?(resolucionesLength$ | async) / (resolucionesTotalQueryLength$ | async) * 100:0">
  </p>
  <!-- <p>{{path$|async}}</p> -->
  <p class="infoDocumentos">
    <span>{{path$|async|titlecase}}: </span>
    <span *ngIf="(resolucionesLength$|async)"> mostrando <span class="number">{{resolucionesLength$|async}}</span>
      {{path$|async}} de
      <span class="number">{{resolucionesTotalQueryLength$|async}}</span></span>
  </p>
</div>
<div *ngIf="(path$|async)==='escritos'">
  <p class="percentage"
    [style.width.%]="((escritosLength$ | async) / (escritosTotalQueryLength$ | async) * 100)?(escritosLength$ | async) / (escritosTotalQueryLength$ | async) * 100:0">
  </p>
  <!-- <p>{{path$|async}}</p> -->
  <p class="infoDocumentos">
    <span>{{path$|async|titlecase}}: </span>
    <span *ngIf="(escritosLength$|async)"> mostrando <span class="number">{{escritosLength$|async}}</span>
      {{path$|async}} de
      <span class="number">{{escritosTotalQueryLength$|async}}</span></span>
  </p>
</div>

