:host section {
  position: relative;
  margin-top: 12.4rem;
}




.collapsa {
  display:flex;
  flex-flow:row wrap;
  align-items:center;
  position:relative;
  top:0.5rem;
  right: 0.7rem;
  & > div {
    cursor:pointer;
  }
}


.collapsaBox {
  display:flex;
  flex-flow:row wrap;
  align-items:center;
  p{
    min-width:9rem;
  }
}


.collapsaBoxIcon {
  svg {
    width: 2.5rem;
    height: 2.5rem;
    transform: translate(0.7rem, 0.2rem) rotate(-180deg) scale(.95);
  }
}
.collapsaBoxIcon.collapsed {
  svg {
    transform: translate(0.7rem, 0.2rem) rotate(-90deg) scale(.95);
    path {
      stroke: #007c25;
      stroke-width: 1.15;
    }
  }
}

.clean_Filt {
  cursor:pointer;
  margin-right: 2rem;
  display:flex;
  flex-flow:row wrap;
  align-items: center;
  svg {
    width:3rem;
    height:3rem;
    margin-left:1rem;
    path {
      stroke:#006797;
      stroke-width:1.3;

    }
  }
}
