<div headermain>
    <ul>
        <a routerLink="/segura-view" routerLinkActive="activo" [routerLinkActiveOptions]="{exact:true}">
            <li>Page Home</li>
        </a>
        <a routerLink="/guitars2" routerLinkActive="activo">
            <li>Page Guitars2</li>
        </a>
            <a routerLink="/bass" routerLinkActive="activo">
            <li>Page Bass</li>
        </a>
        <a routerLink="/contact" routerLinkActive="activo">
            <li>Page Contact</li>
        </a>
    </ul>
</div>
