<section>
  <div appFijar [offset]="10">
    <app-collapsible>
      <div class="collapsa">
        <div class="clean_Filt" (click)="cleanFilters()">
          <p>
            Limpiar Filtros         
          </p>
          <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100" x="0px" y="0px"><title>ALL</title><path d="M31,31H20a1,1,0,0,1,0-2H31A1,1,0,0,1,31,31Z"/><path d="M80,31H40a1,1,0,0,1,0-2H80A1,1,0,0,1,80,31Z"/><path d="M35.12,35a5,5,0,1,1,5-5A5,5,0,0,1,35.12,35Zm0-8a3,3,0,1,0,3,3A3,3,0,0,0,35.12,27Z"/><path d="M61,51H20a1,1,0,0,1,0-2H61A1,1,0,0,1,61,51Z"/><path d="M80,51H70a1,1,0,0,1,0-2H80A1,1,0,0,1,80,51Z"/><path d="M65.12,55a5,5,0,1,1,5-5A5,5,0,0,1,65.12,55Zm0-8a3,3,0,1,0,3,3A3,3,0,0,0,65.12,47Z"/><path d="M41,71H20a1,1,0,0,1,0-2H41A1,1,0,0,1,41,71Z"/><path d="M80,71H50a1,1,0,0,1,0-2H80A1,1,0,0,1,80,71Z"/><path d="M45.12,75a5,5,0,1,1,5-5A5,5,0,0,1,45.12,75Zm0-8a3,3,0,1,0,3,3A3,3,0,0,0,45.12,67Z"/></svg>
        </div>
        
        <div class="collapsaBox"  (click)="collapsing()">
          <p *ngIf="(someCollap$|async);else notDeployed">
            Ocultar Filtros          
          </p>
          <ng-template #notDeployed>
            <p>
              Desplegar Filtros
            </p>
          </ng-template>
          <div class="collapsaBoxIcon" [ngClass]="{'collapsed': (someCollap$|async)}">
            
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 32 32" x="0px" y="0px"><title>previous-1</title><path fill="#006797" d="M16 0.6c-8.498 0-15.4 6.903-15.4 15.4s6.903 15.4 15.4 15.4c8.498 0 15.4-6.903 15.4-15.4s-6.903-15.4-15.4-15.4zM16 1.641c7.914 0 14.359 6.445 14.359 14.359s-6.445 14.359-14.359 14.359c-7.914 0-14.359-6.445-14.359-14.359s6.445-14.359 14.359-14.359zM17.754 10.76c-0.135 0-0.265 0.048-0.369 0.152l-4.709 4.709c-0.095 0.095-0.152 0.235-0.152 0.367s0.056 0.269 0.152 0.365l4.715 4.721c0.099 0.099 0.238 0.152 0.367 0.152 0.131 0 0.263-0.052 0.363-0.152h0.002c0.209-0.209 0.209-0.529 0-0.738l-4.342-4.342 4.342-4.342c0.208-0.208 0.208-0.532 0-0.74-0.104-0.104-0.234-0.152-0.369-0.152z"/></svg>
          </div>
        </div>
        
        
        
      </div>
    </app-collapsible>
    <div class="filtrosSection" >
      <app-filtro [filtroscombinado1]="filtrosResoluciones"></app-filtro>
    </div>
  </div>
  <div *ngIf="docsResoluciones$ | async as documents" class="noJump">
    <div *ngIf="isArray(documents)">
      <!-- <p class="voidSearch" *ngIf="documents.length===0">Esta búsqueda no devuelve documentos</p> -->
      <app-document-card *ngFor="let document of documents" [documento]="document"></app-document-card>
    </div>
    <!-- <div class="httpError" *ngIf="errorObj">
      <p>{{errorObj}}</p>
    </div> -->
  </div>
</section>

