//---------------------------------------------------------------------------------------------------------------------------------------//
//------------------------------------------- NO TOCAR EL CÓDIGO CONTENIDO ENTRE ESTAS LINEAS -------------------------------------------//
//-----------------------------------------------------------------( INI )---------------------------------------------------------------//

@import './mova/styles.scss'; // Importar los estilos y las fuentes de MOVA

//---------------------------------------------------------------------------------------------------------------------------------------//
//------------------------------------------- NO TOCAR EL CÓDIGO CONTENIDO ENTRE ESTAS LINEAS -------------------------------------------//
//-----------------------------------------------------------------( FIN )---------------------------------------------------------------//

/**
 * Definir el valor de la variable SCSS '$corporative' para su uso en los estilos de los componentes de la App
 */

// Color corporativo de la Comunidad de Madrid
$corporative: $corporative-comunidad-madrid;
// Color corporativo de Salud Madrid
//$corporative: $corporative-salud-madrid; // (Descomentar el principio de la linea para utilizar este valor)

// Color accent de la Comunidad de Madrid
$accent: $accent-comunidad-madrid;
// Color accent de Salud Madrid
//$accent: $accent-salud-madrid; // (Descomentar el principio de la linea para utilizar este valor)


:root {
    font-size:62.50%;
}

*,
*:after,
*:after,
*:before {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

a {
    color:inherit;
    text-decoration:none;
}

li {
    list-style: none;
}

body {
    font-family: 'Montserrat',
    sans-serif;
}
h1,h2,h3 {
    font-weight:300;
}

app-headermain ~ * {
    padding:1rem;
}

.activo {
    border-bottom: 1px solid red;
    color:red;
    // li {
        
    // }
}