@import '../../../../src/app/scss/abstracts/abstracts';

:host {
    position: fixed;
    z-index: 10;
    top: $filterMenuCollapsibleComponentTop;
    right: 4.5rem;
    display: flex;
    flex-flow: row wrap;
}


.fijo :host {
    top: -1rem;
    right: 0rem;
}


